.feedback {
  margin-bottom: 153px;
}

.feedback__wrapper {
  min-height: 455px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: url("../img/bg/bg-form.png") no-repeat left;
  background-position: 27px;
}