/* color */

$white: #FFFFFF;
$bg-form: #FBF8F8;
$bg-nav: #E5E5E5;
$black-1: #141517;
$black-2: #2C2E3F;
$black-3: #48494D;
$red-1: #FE7865;
$red-2: #F17D4B;
$grey-main: rgba(44, 46, 63, 0.7);
$grey-tabs: rgba(44, 46, 63, 0.3);
$grey-footer: rgba(20, 21, 23, 0.5);
$grey-hover: rgba(20, 21, 23, 0.6);
$grey-border: #D7D9DF;
$white-border: rgba(255, 255, 255, 0.7);


/*screen resolution*/

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;